= form_for(@list) do |f|
  - if @list.errors.any?
    #error_explanation
      %h2
        = pluralize(@list.errors.count, "error")
        prohibited this list from being saved:
      %ul
        - @list.errors.full_messages.each do |message|
          %li= message
  = f.text_field :name
  -# the below should be in an ajax request:
  -# basically the 
  - if @list.category
    - if @list.category.name == "Movie"
      = render 'movie list form'
  .actions
    = f.submit
