.container-fluid
  .row.slick-carousel
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
    = render "movies/form"
