.container-fluid
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
  = render "movies/form"
