.profile-container
  %h2
    %center Sign up
  = form_for(resource, class: "custom-form-control", as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email,placeholder: "email", class: "custom-form-control", autofocus: true
    %br
    .field
      %div= f.label :username
      %span mysimplist.com/
      %span= f.text_field :username, class: "span-form-control"
    %br
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, class: "custom-form-control", autocomplete: "off"
    %br
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, class: "custom-form-control", autocomplete: "off"
    %br
    %center.actions
      = f.submit "Sign up →", class: "btn"
    %br
    %center
      Have an account?
      = render "devise/shared/links"

:javascript
