= form_for(:book) do |f|

  .simplist
    .enter-new-movie
      .movie-form{style: "display: inline-block;"}
        .saved SAVED
        .edit-options
          %i.fa.fa-close CLEAR
        .box.pull-left.box-edit
          -# - if book.picture
          -#   %img{:src => "#{f.object.picture}"}
        %select.select-book
          %option
        = f.text_field :name, class: "hidden"
        = f.text_field :picture, class: "hidden"
        = f.text_field :published, class: "hidden"
        = f.text_field :author, class: "hidden"
        = f.text_field :description, class: "hidden"
        = f.text_field :link, class: "hidden"
        -# .pull-right{:style => "font-size:smaller;"} Recommended: Search by ISBN, Author, or Title
        %div.pull-right{:style => "padding-left: 3em; font-size: 18px"}
    .clearfix


:javascript

    $(function() {


      function clickButton (){
        $('.submit-booklist-btn').trigger("click");
      }

      function insertPlaceholder(placeholder) {
        var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
        $(placeholder).html(moviename);
      };

      $( ".select2-selection__placeholder" ).each(function(){
        insertPlaceholder(this);
      });

    });
