!!!
%html
  %head
    %title Simplist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'myicon.ico'
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,200", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/scrollreveal.js/3.0.3/scrollreveal.min.js"}

    = csrf_meta_tags
.movie-add-mobile
  .header
    %i.fa.fa-search
    .text.pull-left Add a favorite book
    .close.pull-right
      = link_to edit_user_profile_index_path(@user.id) do
        = image_tag('big-close.png')
  %select.search-box#select-book-mobile{placeholder: "Start typing here..."}
  = form_for (@book) do |f|
    = f.text_field :name, class: "name hidden"
    = f.text_field :picture, class: "picture hidden"
    = f.text_field :published, class: "year hidden"
    = f.text_field :author, class: "author hidden"
    = f.submit(class: "hidden submit-btn")
