.comments-window{:id => "simplist-#{thing.class.to_s.downcase}-#{thing.id}"}
  %center COMMENTS
  .add-comment
    - if current_user
      .user-avatar=image_tag(current_user.avatar)
    = form_tag(add_comment_path(id: thing, class: thing.class), remote: true) do
      = text_field_tag :body, nil, placeholder: "Thoughts?"
      = submit_tag "Post comment", remote: true, class: "hidden"
    .clearfix
  .all-comments
    - thing.root_comments.each do |comment|
      .comment-wrapper
        .user-avatar=image_tag(comment.user.avatar)
        .comment
          = comment.body
          - if (comment.user_id == current_user.id) || (List.find(thing.list_id).user.id == comment.user_id)
            = link_to "x", comment_path(comment), method: :delete, class: "delete-comment", remote: true
        .clearfix
