.comments-window{:id => "simplist-#{song.id}"}
  %center COMMENTS
  .add-comment
    - if current_user
      .user-avatar=image_tag(current_user.avatar)
    = form_tag(add_comment_song_path(song), remote: true) do
      = text_field_tag :body, nil, placeholder: "Thoughts?"
      = submit_tag "Post comment", class: "hidden"
    .clearfix
  .all-comments
    - song.root_comments.each do |comment|
      .comment-wrapper
        .user-avatar=image_tag(comment.user.avatar)
        .comment
          = comment.body
          - if (comment.user_id == current_user.id) || (List.find(song.list_id).user.id == comment.user_id)
            = link_to "x", comment, method: :delete, class: "delete-comment", remote: true
        .clearfix
