= form_for(@movielist, remote: true) do |f|
  .simplists
    = f.fields_for(:movies, @movies) do |movie_form|
      - unless movie_form.object.name?
        .simplist
          %h1.pull-left #{movie_form.index+1}
          .enter-new-movie
            .movie-form{style: "display: inline-block;"}
              .box.pull-left.box-edit
                - if movie_form.object.picture && movie_form.object.picture.empty? != true
                  %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
              %select.select-movie
                %option
              = movie_form.text_field :name, class: "hidden"
              = movie_form.text_field :picture, class: "hidden"
              = movie_form.text_field :year, class: "hidden"
              = movie_form.text_field :overview, class: "hidden"
          .clearfix
        .simplist-mobile
          %h1 #{movie_form.index+1}
          .enter-new-movie-mobile
            - if movie_form.index == 0
              .prompt What's your all-time favorite movie?
            - else
              .prompt What's your ##{movie_form.index+1} movie?
            = link_to add_movie_path(movie_form.object.id) do
              .btn-add Add It Now
          .clearfix
      - else
        .simplist
          %h1.pull-left #{movie_form.index+1}
          .enter-new-movie
            .movie-form{style: "display: inline-block;"}
              .box.pull-left.box-edit
                - if movie_form.object.picture && movie_form.object.picture.empty? != true
                  %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
              %select.select-movie
                %option
              = movie_form.text_field :name, class: "hidden"
              = movie_form.text_field :picture, class: "hidden"
              = movie_form.text_field :year, class: "hidden"
          .clearfix
        .update-existing
          %h1.pull-left #{movie_form.index+1}
          .enter-new-movie
            .movie-form{style: "display: inline-block;"}
              .box.pull-left
                - if movie_form.object.picture && movie_form.object.picture.empty? != true
                  %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
              .item-info.pull-right
                %strong.item-title= movie_form.object.name
                %span.item-author= "(" + movie_form.object.year[0,4] + ")"
            = link_to add_movie_path(movie_form.object.id) do
              .btn-add Change
          .clearfix
  %center= f.submit(class: "btn hidden submit-movielist-btn")
