= form_for(@booklist, remote: true) do |f|
  .simplists
    = f.fields_for(:books, @books) do |book_form|
      - unless book_form.object.name?
        = render partial: "edit_book", :locals => {:book_form => book_form}
        .simplist-mobile
          %h1 #{book_form.index+1}
          .enter-new-movie-mobile
            - if book_form.index == 0
              .prompt What's your all-time favorite book?
            - else
              .prompt What's your ##{book_form.index+1} book?
            = link_to add_book_path(book_form.object.id) do
              .btn-add Add It Now
          .clearfix
      - else
        = render partial: "edit_book", :locals => {:book_form => book_form}
        .update-existing
          %h1.pull-left #{book_form.index+1}
          .enter-new-movie
            .movie-form{style: "display: inline-block;"}
              .box.pull-left
                - if book_form.object.picture && book_form.object.picture.empty? != true
                  %img{:src => "#{book_form.object.picture}"}
              .item-info.pull-right
                %strong.item-title= book_form.object.name
                .item-author= book_form.object.author
            = link_to add_book_path(book_form.object.id) do
              .btn-add.btn-add-85 Change
          .clearfix

  %center= f.submit(class: "btn hidden submit-booklist-btn")


  :javascript
