%h1.pull-left= @ranking
.prompt-to-choose-category
  Choose a category
.all-options
  = link_to("book", add_to_current_book_path(id: @currentlist, number: @ranking), remote: true, class: "add-from-category")
  = link_to("movie", add_to_current_movie_path(id: @currentlist, number: @ranking), remote: true, class: "add-from-category")
  = link_to("quote", add_to_current_quote_path(id: @currentlist, number: @ranking), remote: true, class: "add-from-category")
  = link_to("Song", add_to_current_song_path(id: @currentlist, number: @ranking), remote: true, class: "add-from-category")
  = link_to("Show", add_to_current_show_path(id: @currentlist, number: @ranking), remote: true, class: "add-from-category")
.clearfix
.movie-form.add-list-item{id: "current-#{@ranking}"}

:javascript
  $('.add-from-category').click(function(){
    $('.slick-list').height("+=400");
  })
