.row
  .header
    .header-content.text-center.center-block
      = image_tag("aprilk.png", class: "img-circle center-block", alt: "April Koh profile picture")
      %h3 April Koh
      %h6 I like cottage cheese and cheese cottages
      .socials
        %i.fa.fa-facebook
        %i.fa.fa-twitter
        %i.fa.fa-pinterest
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      .category.active Books
      .category Movies
      .category Songs
      .category Quotes
  .top-buffer
  .slider-for
    .simplists
      .simplist.book-simplist
        %h1.pull-left 1
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book1.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 2
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book2.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title Speak Memory
          .book-author Vladimir Nabokov
      .simplist.book-simplist
        %h1.pull-left 3
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book3.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 4
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book4.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 5
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book5.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 6
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book6.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
    .simplists
      .simplist.book-simplist
        %h1.pull-left 1
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie1.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title The Parent Trap
          .book-author (1998)
      .simplist.book-simplist
        %h1.pull-left 2
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie2.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title Speak Memory
          .book-author Vladimir Nabokov
      .simplist.book-simplist
        %h1.pull-left 3
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie3.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 4
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie4.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 5
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie5.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 6
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie6.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
