- content_for(:nav) do
  .edit-banner{style: "display:none"}
    Welcome to Simplist! Click on the stuff you'd like to change, and then
    %span= link_to "view your profile →", user_profile_index_path(@user)

-# THIS IS THE EDIT PAGE


.row.profile-container.profile-edit
  .userform= render partial: "userform"
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      - @sortedlists.each do |list|
        .category= list.name
  .top-buffer
  .slider-for
    = render partial: "edit_movielist"
    = render partial: "edit_booklist"
    = render partial: "edit_quotelist"

    = form_for(@songlist, remote: true) do |f|
      .simplists
        = f.fields_for(:songs, @songs) do |song_form|
          - unless song_form.object.name?
            .simplist.song-simplist
              %h1.pull-left #{song_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if song_form.object.picture
                      %img{:src => "#{song_form.object.picture}"}
                    %img#cover{:rel => "tooltip", :src => "", :title => ""}
                  %select.select-song
                    %option
                  .song-info.pull-left
                  = song_form.text_field :name, class: "hidden"
                  = song_form.text_field :picture, class: "hidden"
                  = song_form.text_field :artist, class: "hidden"
              .clearfix
            .simplist-mobile
              %h1 #{song_form.index+1}
              .enter-new-movie-mobile
                - if song_form.index == 0
                  .prompt What's your all-time favorite song?
                - else
                  .prompt What's your ##{song_form.index+1} song?
                = link_to add_song_path(song_form.object.id) do
                  .btn-add Add It Now
              .clearfix
          - else
            .simplist.song-simplist
              %h1.pull-left #{song_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if song_form.object.picture
                      %img{:src => "#{song_form.object.picture}"}
                    %img#cover{:rel => "tooltip", :src => "", :title => ""}
                  %select.select-song
                    %option
                  .song-info.pull-left
                  = song_form.text_field :name, class: "hidden"
                  = song_form.text_field :picture, class: "hidden"
                  = song_form.text_field :artist, class: "hidden"
              .clearfix
            .update-existing
              %h1.pull-left #{song_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if song_form.object.picture && song_form.object.picture.empty? != true
                      %img{:src => "#{song_form.object.picture}"}
                  .item-info.pull-right
                    %strong.item-title= song_form.object.name
                    .item-author= song_form.object.artist
                = link_to add_song_path(song_form.object.id) do
                  .btn-add Change
              .clearfix
      %center= f.submit(class: "hidden submit-songlist-btn btn")
    - if @productlist
      = form_for(@productlist, remote: true) do |f|
        .simplists
          = f.fields_for(:products, @products) do |product_form|
            .simplist
              %h1.pull-left #{product_form.index+1}
              .product-form
                = product_form.label :picture
                = product_form.text_field :picture
                %br
                = product_form.label :name
                = product_form.text_field :name
                = product_form.label :link
                = product_form.text_field :link
        %center= f.submit(class: "hidden submit-productlist-btn btn")



%center.view-public-profile{style: "margin-bottom: 5em"}= link_to "View Your Public Profile →", user_profile_index_path(@user)

:javascript

  $(function() {
    $('.category').first().addClass('active');
    sr = new ScrollReveal();
    sr.reveal('.simplist', {reset: true});
    sr.reveal('.view-public-profile', {delay: 300});

    $( ".edit-banner" ).delay( 800 ).fadeIn( 500 );
  });


  $(function() {

    $(".select-movie").on("change", function (e) {
      $( ".submit-movielist-btn" ).trigger( "click" );
    });

    $(".select-song").on("change", function (e) {
      $( ".submit-songlist-btn" ).trigger( "click" );
    });

    $(".quote").on("change", function (e) {
      $( ".submit-quotelist-btn" ).trigger( "click" );
    });

    $(".product-form").on("change", function(e) {
      $( ".submit-productlist-btn").trigger("click");
    });

    $(".select-book").on("change", function (e) {
      $( ".submit-booklist-btn" ).trigger( "click" );
    });

    function insertPlaceholder(placeholder) {
      var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
      $(placeholder).html(moviename);
    };

    $( ".select2-selection__placeholder" ).each(function(){
      insertPlaceholder(this);
    });

  });
