- content_for(:nav) do
  .edit-banner{style: "display:none"}
    Welcome to Simplist! Click on the stuff you'd like to change, and then
    %span= link_to "view your profile →", user_profile_index_path(@user)

-# THIS IS THE EDIT PAGE


.row.profile-container.profile-edit
  .userform= render partial: "userform"
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      - @sortedlists.each do |list|
        .category= list.name
  .top-buffer
  .slider-for.currentlist
    .current-list
      .list-description THINGS ON MY MIND
      - @rankings.each do |ranking|
        %div{class: "simplists-#{ranking} simplists"}
          - case ranking
          - when 1
            - thing = @number_1
          - when 2
            - thing = @number_2
          - when 3
            - thing = @number_3
          - when 4
            - thing = @number_4
          - when 5
            - thing = @number_5
          - if thing.class == Movie
            .simplist-both
              %h1.pull-left #{ranking}
              .enter-new-movie
                .change
                  = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                    %i.fa.fa-pencil
                    CHANGE
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left
                    - if thing.picture && thing.picture.empty? != true
                      %img{:src => "https://image.tmdb.org/t/p/w154#{thing.picture}"}
                  .item-info.pull-right
                    %strong.item-title= thing.name
                    %span.item-author= "(" + thing.year[0,4] + ")"
                    .item-overview.truncate= thing.overview
                = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                  .btn-add.btn-add-85 CHANGE
              .clearfix
          - elsif thing.class == Song
            .simplist-both.song-simplist
              %h1.pull-left #{ranking}
              .enter-new-movie
                .change
                  = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                    %i.fa.fa-pencil
                    CHANGE
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if thing.picture
                      %img{:src => "#{thing.picture}"}
                    %img#cover{:rel => "tooltip", :src => "", :title => ""}
                  .item-info.pull-left
                    .item-title= thing.name
                    .item-author= thing.artist
                    .item-overview= thing.album
                = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                  .btn-add.btn-add-85 CHANGE
              .clearfix
          - elsif thing.class == Book
            .simplist-both
              %h1.pull-left #{ranking}
              .enter-new-movie
                .change
                  = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                    %i.fa.fa-pencil
                    CHANGE
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left
                    - if thing.picture
                      %img{:src => "#{thing.picture}"}
                  - if thing.link?
                    = link_to "#{thing.link}" do
                      .item-info.pull-right
                        .item-title= thing.name
                        .item-author= thing.author
                        .item-published= thing.published[0,4]
                        .item-overview.truncate= thing.description
                  - else
                    .item-info.pull-right
                      .item-title= thing.name
                      .item-author= thing.author
                      .item-published= thing.published[0,4]
                      .item-overview.truncate= thing.description
                = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                  .btn-add.btn-add-85 CHANGE
              .clearfix
          - elsif thing.class == Quote
            .simplist-both
              %h1.pull-left #{ranking}
              .enter-new-movie
                .change
                  = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                    %i.fa.fa-pencil
                    CHANGE
                .movie-form
                  .quote.pull-left
                    .quote-text= thing.content
                    .quote-author= thing.source
                    .clearfix
                  .clearfix
                .clearfix
                = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                  .btn-add.btn-add-85 CHANGE
              .clearfix
          - elsif thing.class == Show
            .simplist-both.simplist-mobile
              %h1.pull-left #{ranking}
              .enter-new-movie
                .change
                  = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                    %i.fa.fa-pencil
                    CHANGE
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left
                    - if thing.picture && thing.picture.empty? != true
                      %img{:src => "https://image.tmdb.org/t/p/w154#{thing.picture}"}
                  .item-info.pull-right
                    %strong.item-title= thing.name
                    .item-overview.truncate= thing.description
                = link_to change_current_user_profile_index_path(ranking: ranking, user: @user), remote: true do
                  .btn-add.btn-add-85 CHANGE
              .clearfix
          - else
            = render partial: "replace_current_item", locals: {ranking: :ranking, currentlist: @currentlist, user: @user}
      -# %center= f.submit(class: "hidden submit-currentlist-btn btn")
    = render partial: "edit_movielist"
    = render partial: "edit_booklist"
    = render partial: "edit_quotelist"
    = render partial: "edit_songlist"
    - if @productlist
      = render partial: "edit_productlist"
    = render partial: "edit_showlist"

%center.view-public-profile{style: "margin-bottom: 5em"}= link_to "View Your Public Profile →", user_profile_index_path(@user)

:javascript

  $(function() {
    $('.add-from-category').click(function(){
    $('.slick-list').height("+=400");
    })
    $('.category').first().addClass('active');
    sr = new ScrollReveal();
    sr.reveal('.simplist', {reset: true});
    sr.reveal('.view-public-profile', {delay: 300});

    $( ".edit-banner" ).delay( 800 ).fadeIn( 500 );
  });


  $(function() {

    $(document).ready(function(){




      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('.category.slick-current').css('color', 'darkred');
        $('.category.slick-current').css('borderBottom', '8px solid darkred');

        $('.slider-nav').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: '.slider-for',
          dots: false,
          // centerMode: true,
          focusOnSelect: true,
        });
        $('.slider-for').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          adaptiveHeight: true,
          asNavFor: '.slider-nav',
        });
      } else {

        $('.slider-nav').slick({
          slidesToShow: 4,
          accessibility: false,
          // slidesToScroll: 1,
          asNavFor: '.slider-for',
          dots: false,
          // swipeToSlide: true,
          // centerMode: true,
          focusOnSelect: true,
        });
        $('.slider-for').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          accessibility: false,
          adaptiveHeight: true,
          arrows: false,
          swipe: false,
          fade: true,
          asNavFor: '.slider-nav',
        });
      }
    });


    $('.truncate').succinct({
      size: 320
    });

    //$(".slick-current.category").css('color', 'darkred');
    //$('.slick-current.category').css('borderBottom', '4px solid darkred');

    $('.fa-close').on('click', function(){
      $this = this;
      var clearForm = function(variable, callback) {
        $(variable).parents('.movie-form').find('input').val("");
        $(variable).parents('.movie-form').find('img').attr('src', '');
        $(variable).parents('.movie-form').find('.select2-selection__rendered').empty();
        $(variable).parents('.movie-form').find('.select2-selection__placeholder').empty();
        $(variable).parents('.movie-form').find('.saved').hide();

      }
      function clickButton (){
        $('.submit-booklist-btn').trigger("click");
      }
      clearForm($this,clickButton());
    });


    $(".select-movie").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-movielist-btn" ).trigger( "click" );
    });

    $(".select-show").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-showlist-btn" ).trigger( "click" );
    });

    $(".select-song").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-songlist-btn" ).trigger( "click" );
    });

    $(".quote").on("change", function (e) {
      $( ".submit-quotelist-btn" ).trigger( "click" );
    });

    $(".product-form").on("change", function(e) {
      $( ".submit-productlist-btn").trigger("click");
    });

    $(".select-book").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-booklist-btn" ).trigger( "click" );
    });

    function insertPlaceholder(placeholder) {
      var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
      $(placeholder).html(moviename);
    };

    $( ".select2-selection__placeholder" ).each(function(){
      insertPlaceholder(this);
    });

  });
