- content_for(:nav) do
  .edit-banner{style: "display:none"}
    Welcome to Simplist! Click on the stuff you'd like to change, and then
    %span= link_to "view your profile →", user_profile_index_path(@user)

-# THIS IS THE EDIT PAGE


.row.profile-container.profile-edit
  .userform= render partial: "userform"
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      - @sortedlists.each do |list|
        .category= list.name
  .top-buffer
  .slider-for
    = form_for(@movielist, remote: true) do |f|
      .simplists
        = f.fields_for(:movies, @movies) do |movie_form|
          - unless movie_form.object.name?
            .simplist
              %h1.pull-left #{movie_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left.box-edit
                    - if movie_form.object.picture && movie_form.object.picture.empty? != true
                      %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
                  %select.select-movie
                    %option
                  = movie_form.text_field :name, class: "hidden"
                  = movie_form.text_field :picture, class: "hidden"
                  = movie_form.text_field :year, class: "hidden"
              .clearfix
            .simplist-mobile
              %h1 #{movie_form.index+1}
              .enter-new-movie-mobile
                - if movie_form.index == 0
                  .prompt What's your all-time favorite movie?
                - else
                  .prompt What's your ##{movie_form.index+1} movie?
                = link_to add_movie_path(movie_form.object.id) do
                  .btn-add Add It Now
              .clearfix
          - else
            .simplist
              %h1.pull-left #{movie_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left.box-edit
                    - if movie_form.object.picture && movie_form.object.picture.empty? != true
                      %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
                  %select.select-movie
                    %option
                  = movie_form.text_field :name, class: "hidden"
                  = movie_form.text_field :picture, class: "hidden"
                  = movie_form.text_field :year, class: "hidden"
              .clearfix
            .update-existing
              %h1.pull-left #{movie_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left
                    - if movie_form.object.picture && movie_form.object.picture.empty? != true
                      %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
                  .item-info.pull-right
                    %strong.item-title= movie_form.object.name
                    %span.item-author= "(" + movie_form.object.year[0,4] + ")"
                = link_to add_movie_path(movie_form.object.id) do
                  .btn-add Change
              .clearfix
      %center= f.submit(class: "btn hidden submit-movielist-btn")
    = form_for(@booklist, remote: true) do |f|
      .simplists
        = f.fields_for(:books, @books) do |book_form|
          - unless book_form.object.name?
            .simplist
              %h1.pull-left #{book_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left.box-edit
                    - if book_form.object.picture
                      %img{:src => "#{book_form.object.picture}"}
                  %select.select-book
                    %option
                  = book_form.text_field :name, class: "hidden"
                  = book_form.text_field :picture, class: "hidden"
                  = book_form.text_field :published, class: "hidden"
                  = book_form.text_field :author, class: "hidden"
                  .pull-right{:style => "font-size:smaller;"} Recommended: Search by ISBN, Author, or Title
                  %div.pull-right{:style => "padding-left: 3em; font-size: 18px"}
              .clearfix
            .simplist-mobile
              %h1 #{book_form.index+1}
              .enter-new-movie-mobile
                - if book_form.index == 0
                  .prompt What's your all-time favorite book?
                - else
                  .prompt What's your ##{book_form.index+1} book?
                = link_to add_book_path(book_form.object.id) do
                  .btn-add Add It Now
              .clearfix
          - else
            .simplist
              %h1.pull-left #{book_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left.box-edit
                    - if book_form.object.picture
                      %img{:src => "#{book_form.object.picture}"}
                  %select.select-book
                    %option
                  = book_form.text_field :name, class: "hidden"
                  = book_form.text_field :picture, class: "hidden"
                  = book_form.text_field :published, class: "hidden"
                  = book_form.text_field :author, class: "hidden"
                  .pull-right{:style => "font-size:smaller;"} Recommended: Search by ISBN, Author, or Title
                  %div.pull-right{:style => "padding-left: 3em; font-size: 18px"}
              .clearfix
            .update-existing
              %h1.pull-left #{book_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .box.pull-left
                    - if book_form.object.picture && book_form.object.picture.empty? != true
                      %img{:src => "#{book_form.object.picture}"}
                  .item-info.pull-right
                    %strong.item-title= book_form.object.name
                    .item-author= book_form.object.author
                = link_to add_book_path(book_form.object.id) do
                  .btn-add Change
              .clearfix
      %center= f.submit(class: "btn hidden submit-booklist-btn")
    = form_for(@quotelist, remote: true) do |f|
      .simplists
        = f.fields_for(:quotes, @quotes) do |quote_form|
          - unless quote_form.object.content?
            .simplist
              %h1.pull-left #{quote_form.index+1}
              .quote.pull-left
                .quote-text
                  - if quote_form.index == 0
                    = quote_form.text_area :content, placeholder: "EX: 'I WILL SLEEP WHEN I'M DEAD.'"
                  - else
                    = quote_form.text_area :content
                .quote-author
                  - if quote_form.index == 0
                    = quote_form.text_field :source, placeholder: "EX: Warren Zevon"
                  - else
                    = quote_form.text_field :source
              .clearfix
              %center= f.submit(class: "btn hidden submit-quotelist-btn")
            .simplist-mobile
              %h1 #{quote_form.index+1}
              .enter-new-movie-mobile
                - if quote_form.index == 0
                  .prompt What's your all-time favorite quote?
                - else
                  .prompt What's your ##{quote_form.index+1} quote?
                = link_to add_quote_path(quote_form.object.id) do
                  .btn-add Add It Now
              .clearfix
          - else
            .simplist
              %h1.pull-left #{quote_form.index+1}
              .quote.pull-left
                .quote-text
                  - if quote_form.index == 0
                    = quote_form.text_area :content, placeholder: "EX: 'I WILL SLEEP WHEN I'M DEAD.'"
                  - else
                    = quote_form.text_area :content
                .quote-author
                  - if quote_form.index == 0
                    = quote_form.text_field :source, placeholder: "EX: Warren Zevon"
                  - else
                    = quote_form.text_field :source
              .clearfix
              %center= f.submit(class: "btn hidden submit-quotelist-btn")
            .update-existing
              %h1.pull-left #{quote_form.index+1}
              .quote.pull-left
                .quote-text= quote_form.object.content
                .quote-author= quote_form.object.source
                = link_to add_quote_path(quote_form.object.id) do
                  .btn-add Change
              .clearfix

    = form_for(@songlist, remote: true) do |f|
      .simplists
        = f.fields_for(:songs, @songs) do |song_form|
          - unless song_form.object.name?
            .simplist.song-simplist
              %h1.pull-left #{song_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if song_form.object.picture
                      %img{:src => "#{song_form.object.picture}"}
                    %img#cover{:rel => "tooltip", :src => "", :title => ""}
                  %select.select-song
                    %option
                  .song-info.pull-left
                  = song_form.text_field :name, class: "hidden"
                  = song_form.text_field :picture, class: "hidden"
                  = song_form.text_field :artist, class: "hidden"
              .clearfix
            .simplist-mobile
              %h1 #{song_form.index+1}
              .enter-new-movie-mobile
                - if song_form.index == 0
                  .prompt What's your all-time favorite song?
                - else
                  .prompt What's your ##{song_form.index+1} song?
                = link_to add_song_path(song_form.object.id) do
                  .btn-add Add It Now
              .clearfix
          - else
            .simplist.song-simplist
              %h1.pull-left #{song_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if song_form.object.picture
                      %img{:src => "#{song_form.object.picture}"}
                    %img#cover{:rel => "tooltip", :src => "", :title => ""}
                  %select.select-song
                    %option
                  .song-info.pull-left
                  = song_form.text_field :name, class: "hidden"
                  = song_form.text_field :picture, class: "hidden"
                  = song_form.text_field :artist, class: "hidden"
              .clearfix
            .update-existing
              %h1.pull-left #{song_form.index+1}
              .enter-new-movie
                .movie-form{style: "display: inline-block;"}
                  .simplist-image.song-image.pull-left
                    - if song_form.object.picture && song_form.object.picture.empty? != true
                      %img{:src => "#{song_form.object.picture}"}
                  .item-info.pull-right
                    %strong.item-title= song_form.object.name
                    .item-author= song_form.object.artist
                = link_to add_song_path(song_form.object.id) do
                  .btn-add Change
              .clearfix
      %center= f.submit(class: "hidden submit-songlist-btn btn")
    - if @productlist
      = form_for(@productlist, remote: true) do |f|
        .simplists
          = f.fields_for(:products, @products) do |product_form|
            .simplist
              %h1.pull-left #{product_form.index+1}
              .product-form
                = product_form.label :picture
                = product_form.text_field :picture
                %br
                = product_form.label :name
                = product_form.text_field :name
                = product_form.label :link
                = product_form.text_field :link
        %center= f.submit(class: "hidden submit-productlist-btn btn")



%center.view-public-profile{style: "margin-bottom: 5em"}= link_to "View Your Public Profile →", user_profile_index_path(@user)

:javascript

  $(function() {
    $('.category').first().addClass('active');
    sr = new ScrollReveal();
    sr.reveal('.simplist', {reset: true});
    sr.reveal('.view-public-profile', {delay: 300});

    $( ".edit-banner" ).delay( 800 ).fadeIn( 500 );
  });


  $(function() {

    $(".select-movie").on("change", function (e) {
      $( ".submit-movielist-btn" ).trigger( "click" );
    });

    $(".select-song").on("change", function (e) {
      $( ".submit-songlist-btn" ).trigger( "click" );
    });

    $(".quote").on("change", function (e) {
      $( ".submit-quotelist-btn" ).trigger( "click" );
    });

    $(".product-form").on("change", function(e) {
      $( ".submit-productlist-btn").trigger("click");
    });

    $(".select-book").on("change", function (e) {
      $( ".submit-booklist-btn" ).trigger( "click" );
    });

    function insertPlaceholder(placeholder) {
      var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
      $(placeholder).html(moviename);
    };

    $( ".select2-selection__placeholder" ).each(function(){
      insertPlaceholder(this);
    });

  });
