- content_for(:nav) do
  .edit-banner{style: "display:none"}
    Welcome to Simplist! Click on the stuff you'd like to change, and then
    %span= link_to "view your profile →", user_profile_index_path(@user)

-# THIS IS THE EDIT PAGE


.row.profile-container.profile-edit
  .userform= render partial: "userform"
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      - @sortedlists.each do |list|
        .category= list.name
  .top-buffer
  .slider-for
    = render partial: "edit_movielist"
    = render partial: "edit_booklist"
    = render partial: "edit_quotelist"
    = render partial: "edit_songlist"

    - if @productlist
      = form_for(@productlist, remote: true) do |f|
        .simplists
          = f.fields_for(:products, @products) do |product_form|
            .simplist
              %h1.pull-left #{product_form.index+1}
              .product-form
                = product_form.label :picture
                = product_form.text_field :picture
                %br
                = product_form.label :name
                = product_form.text_field :name
                = product_form.label :link
                = product_form.text_field :link
        %center= f.submit(class: "hidden submit-productlist-btn btn")



%center.view-public-profile{style: "margin-bottom: 5em"}= link_to "View Your Public Profile →", user_profile_index_path(@user)

:javascript

  $(function() {
    $('.category').first().addClass('active');
    sr = new ScrollReveal();
    sr.reveal('.simplist', {reset: true});
    sr.reveal('.view-public-profile', {delay: 300});

    $( ".edit-banner" ).delay( 800 ).fadeIn( 500 );
  });


  $(function() {

    $('.fa-close').on('click', function(){
      $this = this;
      var clearForm = function(variable, callback) {
        $(variable).parents('.movie-form').find('input').val("");
        $(variable).parents('.movie-form').find('img').attr('src', '');
        $(variable).parents('.movie-form').find('.select2-selection__rendered').empty();
        $(variable).parents('.movie-form').find('.select2-selection__placeholder').empty();
        $(variable).parents('.movie-form').find('.saved').hide();

      }
      function clickButton (){
        $('.submit-booklist-btn').trigger("click");
      }
      clearForm($this,clickButton());
    });


    $(".select-movie").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-movielist-btn" ).trigger( "click" );
    });

    $(".select-song").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-songlist-btn" ).trigger( "click" );
    });

    $(".quote").on("change", function (e) {
      $( ".submit-quotelist-btn" ).trigger( "click" );
    });

    $(".product-form").on("change", function(e) {
      $( ".submit-productlist-btn").trigger("click");
    });

    $(".select-book").on("change", function (e) {
      $(this).parents('.movie-form').find('.saved').fadeIn(2000);
      $( ".submit-booklist-btn" ).trigger( "click" );
    });

    function insertPlaceholder(placeholder) {
      var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
      $(placeholder).html(moviename);
    };

    $( ".select2-selection__placeholder" ).each(function(){
      insertPlaceholder(this);
    });

  });
