- content_for(:nav) do
  .edit-banner
    Welcome to your profile on Simplist! Click on the stuff you'd like to change.

-# THIS IS THE EDIT PAGE


.row
  .userform= render partial: "userform"
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      - @lists.each do |list|
        .category= list.name
  .top-buffer
  .slider-for
    = form_for(@movielist, remote: true) do |f|
      .simplists
        = f.fields_for(:movies, @movies) do |movie_form|
          .simplist
            %h1.pull-left #{movie_form.index+1}
            .enter-new-movie
              .movie-form{style: "display: inline-block;"}
                .box.pull-left
                  - if movie_form.object.picture && movie_form.object.picture.empty? != true
                    %img{:src => "https://image.tmdb.org/t/p/w154#{movie_form.object.picture}"}
                %select.select-movie
                  %option
                = movie_form.text_field :name, class: "hidden"
                = movie_form.text_field :picture, class: "hidden"
                = movie_form.text_field :year, class: "hidden"
      %center= f.submit(class: "btn hidden submit-movielist-btn")
    = form_for(@booklist, remote: true) do |f|
      .simplists
        = f.fields_for(:books, @books) do |book_form|
          .simplist
            %h1.pull-left #{book_form.index+1}
            .enter-new-movie
              .movie-form{style: "display: inline-block;"}
                .box.pull-left
                  - if book_form.object.picture
                    %img{:src => "#{book_form.object.picture}"}
                %select.select-book
                  %option
                = book_form.text_field :name, class: "hidden"
                = book_form.text_field :picture, class: "hidden"
                = book_form.text_field :published, class: "hidden"
                = book_form.text_field :author, class: "hidden"
                .pull-right{:style => "font-size:smaller;"} Recommended: Search by ISBN, Author, or Title
                %div.pull-right{:style => "padding-left: 3em; font-size: 18px"}
      %center= f.submit(class: "btn hidden submit-booklist-btn")
    = form_for(@quotelist, remote: true) do |f|
      .simplists
        = f.fields_for(:quotes, @quotes) do |quote_form|
          .simplist
            %h1.pull-left #{quote_form.index+1}
            .quote.pull-left
              .quote-text
                - if quote_form.index == 0
                  = quote_form.text_area :content, placeholder: "EX: 'I WILL SLEEP WHEN I'M DEAD.'"
                - else
                  = quote_form.text_area :content
              .quote-author
                - if quote_form.index == 0
                  = quote_form.text_field :source, placeholder: "EX: Warren Zevon"
                - else
                  = quote_form.text_field :source

      %center= f.submit(class: "btn hidden submit-quotelist-btn")
    = form_for(@songlist, remote: true) do |f|
      .simplists
        = f.fields_for(:songs, @songs) do |song_form|
          .simplist.song-simplist
            %h1.pull-left #{song_form.index+1}
            .enter-new-movie
              .movie-form{style: "display: inline-block;"}
                .simplist-image.song-image.pull-left
                  - if song_form.object.picture
                    %img{:src => "#{song_form.object.picture}"}
                  %img#cover{:rel => "tooltip", :src => "", :title => ""}
                %select.select-song
                  %option
                .song-info.pull-left
                = song_form.text_field :name, class: "hidden"
                = song_form.text_field :picture, class: "hidden"
                = song_form.text_field :artist, class: "hidden"
      %center= f.submit(class: "hidden submit-songlist-btn btn")

%center.view-public-profile{style: "margin-bottom: 5em"}= link_to "View Your Public Profile →", user_profile_index_path(@user)

:javascript

  $(function() {
    $('.category').first().addClass('active');
    sr = new ScrollReveal();
    sr.reveal('.simplist', {reset: true});
    sr.reveal('.view-public-profile', {delay: 300});
  });


  $(function() {

    $(".select-movie").on("change", function (e) {
      $( ".submit-movielist-btn" ).trigger( "click" );
    });

    $(".select-song").on("change", function (e) {
      $( ".submit-songlist-btn" ).trigger( "click" );
    });

    $(".quote").on("change", function (e) {
      $( ".submit-quotelist-btn" ).trigger( "click" );
    });

    $(".select-book").on("change", function (e) {
      $( ".submit-booklist-btn" ).trigger( "click" );
    });

    function insertPlaceholder(placeholder) {
      var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
      $(placeholder).html(moviename);
    };

    $( ".select2-selection__placeholder" ).each(function(){
      insertPlaceholder(this);
    });

  });
