.explore.container-fluid
  .top-buffer
    .row
      %h1
        %center.explore-header Explore
  .top-buffer
  .row
    - @profiles.each do |profile|
      .col-md-3.col-sm-3
        = link_to user_profile_index_path(profile) do
          .profile-card
            .blank-image
              - if profile.avatar.nil?
                = image_tag("default.png")
              - else
                = image_tag(profile.avatar)
            .profile-info
              .profile-name
                %h3
                  %strong= profile.first_name
                  - if profile.verified?
                    .verified-stamp= image_tag("verified.png")
              .profile-description= profile.description
