- content_for(:nav) do
  .edit-banner
    Welcome to your profile on Simplist! Click to change things.

.row
  = render partial: "userform"
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      .category.active Books
      .category Movies
      .category Quotes
      .category Songs
  .top-buffer
  .slider-for
    .simplists
      .simplist.book-simplist
        %h1.pull-left 1
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book1.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 2
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book2.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title Speak Memory
          .book-author Vladimir Nabokov
      .simplist.book-simplist
        %h1.pull-left 3
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book3.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 4
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book4.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 5
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book5.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 6
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/book6.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
    .simplists
      .simplist.book-simplist
        %h1.pull-left 1
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie1.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title The Parent Trap (1998)
          .book-author Nancy Meyers
      .simplist.book-simplist
        %h1.pull-left 2
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie2.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title Breathless (1960)
          .book-author Jean-Luc Godard
      .simplist.book-simplist
        %h1.pull-left 3
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie3.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 4
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie4.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 5
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie5.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.book-simplist
        %h1.pull-left 6
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/movie6.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
    .simplists
      .simplist
        %h1.pull-left 1
        .quote.pull-left
          .quote-text We have to remember what’s important in life: friends, waffles, and work. But work has to come third.
          .quote-author Leslie Knope
      .simplist
        %h1.pull-left 2
        .quote.pull-left
          .quote-text It takes 20 years to build a reputation and five minutes to ruin it. If you think about that, you’ll do things differently.
          .quote-author Warren Buffett
    .simplists
      .simplist.song-simplist
        %h1.pull-left 1
        .simplist-image.song-image.pull-left
          = image_tag("content/song1.jpg", class: "content", alt: "Favorite Movie")
        .song-info.pull-left
          .song-title The Parent Trap (1998)
          .song-author Nancy Meyers
      .simplist.song-simplist
        %h1.pull-left 2
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/song2.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title Breathless (1960)
          .book-author Jean-Luc Godard
      .simplist.song-simplist
        %h1.pull-left 3
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/song3.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.song-simplist
        %h1.pull-left 4
        .simplist-image.book-or-movie-image.pull-left
          = image_tag("content/song4.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.song-simplist
        %h1.pull-left 5
        .simplist-image.song-image.pull-left
          = image_tag("content/song5.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
      .simplist.song-simplist
        %h1.pull-left 6
        .simplist-image.song-image.pull-left
          = image_tag("content/song6.jpg", class: "content", alt: "Favorite Movie")
        .book-info.pull-left
          .book-title East of Eden (1978)
          .book-author John Steinbeck
