- if @user == current_user
  - content_for(:nav) do
    .edit-banner
      This is your public profile!
      %span.edit-it{style: 'padding: 0 10px'}= link_to "EDIT IT", edit_user_profile_index_path(@user)
      |
      %span.share-it{"data-toggle"=>"tooltip", "data-placement"=>"bottom", "title"=>"mysimplist.com/#{@user.username}", style: 'padding: 0 10px; color: darkgray'}
        %a SHARE IT
.row.profile-container
  .header
    .header-content.text-center.center-block
      .blank-image
        - if @user.avatar.nil?
          = image_tag("default.png")
        - else
          = image_tag(@user.avatar)
      %h3
        %span= @user.first_name
        - if @user.verified?
          .verified-stamp= image_tag("verified.png")
      %h6= @user.description
      .socials
        %i.fa.fa-facebook
        %i.fa.fa-twitter
        %i.fa.fa-pinterest
  .top-buffer
  .categories.container-fluid
    .row.slider-nav
      - @sortedlists.each do |list|
        .category= list.name
  .top-buffer
  .slider-for
    .simplists
      - if @movies.empty?
        .simplist
          %center
            %em None yet!
      - else
        - @movies.each do |movie|
          .simplist
            %h1.pull-left #{@movies.index(movie)+1}
            .enter-new-movie
              .movie-form{style: "display: inline-block;"}
                .box.pull-left
                  - if movie.picture && movie.picture.empty? != true
                    %img{:src => "https://image.tmdb.org/t/p/w154#{movie.picture}"}
                .item-info.pull-right
                  %strong.item-title= movie.name
                  %span.item-author= "(" + movie.year[0,4] + ")"
            .clearfix
      -# %center= f.submit(class: "btn hidden submit-movielist-btn")
    .simplists
      - if @books.empty?
        .simplist
          %center
            %em None yet!
      - else
        - @books.each do |book|
          .simplist
            %h1.pull-left #{@books.index(book)+1}
            .enter-new-movie
              .movie-form{style: "display: inline-block;"}
                .box.pull-left
                  - if book.picture
                    %img{:src => "#{book.picture}"}
                .item-info.pull-right
                  .item-title= book.name
                  .item-author= book.author
                  .item-published= book.published[0,4]
            .clearfix
    .simplists
      - if @quotes.empty?
        .simplist
          %center
            %em None yet!
      - else
        - @quotes.each do |quote|
          .simplist
            %h1.pull-left #{@quotes.index(quote)+1}
            .quote.pull-left
              .quote-text= quote.content
              .quote-author= quote.source
            .clearfix
    .simplists
      - if @songs.empty?
        .simplist
          %center
            %em None yet!
      - else
        - @songs.each do |song|
          .simplist.song-simplist
            %h1.pull-left #{@songs.index(song)+1}
            .enter-new-movie
              .movie-form{style: "display: inline-block;"}
                .simplist-image.song-image.pull-left
                  - if song.picture
                    %img{:src => "#{song.picture}"}
                  %img#cover{:rel => "tooltip", :src => "", :title => ""}
                .item-info.pull-left
                  .item-title= song.name
                  .item-author= song.artist
            .clearfix
    - if @productlist
      .simplists
        - if @products.empty?
          .simplist
            %center
              %em None yet!
        - else
          - @products.each do |product|
            .simplist
              %h1.pull-left #{@products.index(product)+1}
              .product-wrapper.pull-left
                %center
                  .product-picture
                    = image_tag(product.picture)
                  %br
                  .product-name
                    - if product.link
                      = link_to "#{product.name}", product.link
                    - else
                      = product.name
              .clearfix


:javascript


  $(function() {
    $('.share-it').tooltip({trigger: 'click'});

    $('.category').first().addClass('active');
    sr = new ScrollReveal();
    sr.reveal('.simplist', {reset: true});
  });


  $(function() {

    $(".select-movie").on("change", function (e) {
      $( ".submit-movielist-btn" ).trigger( "click" );
    });

    $(".select-song").on("change", function (e) {
      $( ".submit-songlist-btn" ).trigger( "click" );
    });

    $(".quote").on("change", function (e) {
      $( ".submit-quotelist-btn" ).trigger( "click" );
    });

    $(".select-book").on("change", function (e) {
      $( ".submit-booklist-btn" ).trigger( "click" );
    });

    function insertPlaceholder(placeholder) {
      var moviename = $(placeholder).parents('.select2').siblings('input').first().val();
      $(placeholder).html(moviename);
    };


    $( ".select2-selection__placeholder" ).each(function(){
      insertPlaceholder(this);
    });

  });
