!!!
%html
  %head
    %title Simplist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'myicon.ico'
    = csrf_meta_tags
  %body


  %nav.navbar.navbar-fixed-top
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.logo.navbar-brand{:href => "#"}
          = image_tag("logo.png", id: "logo", alt: "Simplist Logo")
      / Collect the nav links, forms, and other content for toggling
      #main-nav.collapse.navbar-collapse
        %ul.nav.navbar-nav.text-uppercase.active.hidden-md-down
          %li
            %a{:href => "#"}
              %strong Explore
          %li
            %a{:href => "#"}
              %strong Profile
        %form.navbar-form.navbar-right{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text"}/
        %ul.nav.navbar-nav.navbar-right.active.hidden-md-down
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Hi April!
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Separated link


= yield
