!!!
%html
  %head
    %title Simplist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'myicon.ico'
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,200", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/scrollreveal.js/3.0.3/scrollreveal.min.js"}

    = csrf_meta_tags
  %body

  %nav.navbar.navbar-fixed-top
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .logo-iphone
        = image_tag("logo.png", id: "logo", alt: "Simplist Logo")
        -# %i.fa.fa-navicon
        / why isn't the fontawesome working here?
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to explore_path do
          .logo.navbar-brand
            = image_tag("logo.png", id: "logo", alt: "Simplist Logo")
      / Collect the nav links, forms, and other content for toggling
      #main-nav.collapse.navbar-collapse
        %ul.nav.navbar-nav.text-uppercase.active.hidden-md-down
          %li
            = link_to "Explore", explore_path
          %li
            = current_user ? link_to("Profile", user_profile_index_path(current_user)) : link_to('Profile', new_user_session_path)
        %form.navbar-form.navbar-right{:role => "search"}
          %i.fa.fa-search
          .form-group.hidden
            %input.form-control{:placeholder => "Search", :type => "text"}
        %ul.nav.navbar-nav.navbar-right.active.hidden-md-down
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_user.first_name
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li= link_to 'Account Settings', edit_user_registration_path
                %li= link_to 'Log out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Log In / Sign Up', new_user_session_path
          -#
          -# %li.dropdown
          -#   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          -#     Hi April!
          -#     %span.caret
          -#   %ul.dropdown-menu
          -#     %li
          -#       %a{:href => "#"} Action
          -#     %li
          -#       %a{:href => "#"} Another action
          -#     %li
          -#       %a{:href => "#"} Something else here
          -#     %li.divider{:role => "separator"}
          -#     %li
          -#       %a{:href => "#"} Separated link
    = yield(:nav)

.container-fluid.beneath-nav.all-content
  .responsive-dropdown{style:"display:none"}
    .explore-link= link_to "Explore", explore_path
    - if current_user
      .profile-link= link_to("Profile", user_profile_index_path(current_user))
      .edit-link= link_to "Edit Profile", edit_user_profile_index_path(current_user)
      .logout-link= link_to 'Log Out', destroy_user_session_path, method: :delete
    - else
      .login-link= link_to('Log In', new_user_session_path)
  %center
    - if alert
      %p.notice= notice
      %p.alert= alert
  = yield

  :javascript

    $('.logo-iphone').on('click', function(){
      $('.responsive-dropdown').slideToggle();
    })
